*.exe
*.dll
*.zip
*.BAK*
*.OLD*
*.ORIG*
*.chw*
*.wiki
*.wings~
*.sdf
*.suo
*.db
*.vcxproj.user
*.opensdf
bullet*/
lib/
android/libs/
android/obj/
obj/
com.rado1.*/
*downloads/
html/
Release/
Debug/
ipch/